<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Equipo médico.</title>
  <link rel="stylesheet" href="../static/Color.css" />
</head>
<body>
    <header>
        <h1>Equipo médico.</h1>
        <nav>
          <a href="Farma.html" class="nav-btn">Inicio</a>
          <a href="productos.html" class="nav-btn">Volver a productos</a>
        </nav>
      </header>

  <main>
    <section id="productos-medico" class="productos"></section>
  </main>

  <footer>
    <p>&copy; 2025 BILStrategic Company. Todos los derechos reservados.</p>
  </footer>

  <script src="medico.js"></script>
</body>
</html>