<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  <link rel="stylesheet" href="../static/Color.css">

<body>

   
  <header>
    <img src="logo.png" alt="Logo de la empresa" width="300" />
     <h1> ARCHER MEDICAL</h1>
    <h2>Health and Care Company</h2>
    <h3>Misión</h3>
<p1>Brindar a nuestros clientes acceso confiable y oportuno a productos farmacéuticos y de cuidado personal, garantizando calidad, seguridad y atención personalizada. Buscamos mejorar la salud y bienestar de la comunidad mediante un servicio responsable, ético y comprometido con la excelencia.</p1>
   <h3>Visión</h3>
   <p1>Convertirnos en una farmacia líder a nivel regional reconocida por su innovación, servicio humanizado y confianza, impulsando soluciones digitales que faciliten la gestión de medicamentos y promuevan el bienestar integral de nuestros usuarios.</p1>
    <section id="contacto" class="barra">
      
      <p>La salud en tus manos: 
        <a href="mailto:bilstrategic@hotmail.com">bilstrategic@hotmail.com</a>
      </p>
    </section>
  </main>

  <footer class="barra">
    <p>&copy; 2025 ArcherMedicalCompany. Todos los derechos reservados.</p>
  </footer>



