<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../static/Color.css" />
</head>
<body>
  <header>
    <h1>La salud en tus manos</h1>
    <nav>
      <a href="Farma.html" class="nav-btn">Inicio</a>
    </nav>
  </header>

  <main>
    <section class="catalogo-amplio" id="catalogo-amplio"></section>
    <div id="catalogo-categorias"></div>
  </main>

  <script src="productos.js"></script>
  <footer>
    <p>&copy; 2025 BILStrategic Company. Todos los derechos reservados.</p>
  </footer>

</body>
</html> 